
@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 40vmin;
}

.App-logo {
  height: 40vmin;
}

body{
  background-color: mediumpurple
  }

.button1{
  size: "large";
  top: 200px;
  left: -150px;
  right: -100px;
  bottom: -191px;
}
.button2{
  size: "large";
  top: 2px;
  left: 150px;
  right: 100px;
  bottom: -191px;
}

.welcome{
  padding: 80px 20px 5px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: -0px;
  right: -0px;
  bottom: -100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
